.container-cart
  display: flex
  flex-direction: column
  background-color: #fff
  width: 50%
  margin-left: 20px
  padding: 20px
  border-radius: 5px
  align-items: center
  gap: 20px

  .container-products-cart
    width: 100%
    display: flex
    flex-direction: column
    
    hr
      margin: 20px 0

    .item-cart
      display: flex


